.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#DCDCDC;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Lato Black';font-weight:900;font-style:normal;font-size:48px;text-decoration:none;text-transform: none;color:#DCDCDC;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:16px;}
.Heading_4 {}
.Normal_text_a {font-family:'Open Sans1';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#182129;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Panel_heading_3 {font-size:16px;}
